In [1]:
blankList = []                                      # Declare an empty List

listOfString = ['apple','banana']                  # List of strings

listOfNumbers = [12, 7.6,30,64]                   # List of integers

listOfList = [[45, 3.2],[12, 4.2]]                  # List of lists

listOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]     # List of different datatypes

print(listOfList)

[[45, 3.2], [12, 4.2]]

In [2]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

print(len(listOfMixedDataTypes))

4

In [3]:
listOfNumbers = [12, 7.6, 30, 64] 

listOfNumbers.append('Appended Element')             # append function will add the item at the end

print(listOfNumbers)

[12, 7.6, 30, 64, 'Appended Element']

In [4]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfMixedDataTypes.insert(2,'Gates')              # Will add 'Gates' at location 2

print(listOfMixedDataTypes)              # Use the insert() method

[55.4, 'Bill', 'Gates', 232, 14.4]

In [5]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4, 232]

lstOfMixedDataTypes.remove(232)                   # remove() - removes the first occurence of 232 in the list

print(lstOfMixedDataTypes)

[55.4, 'Bill', 14.4, 232]

In [6]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfNumbers = [12, 7.6, 30, 64]

lstOfMixedDataTypes.append(listOfNumbers)                 # Using the append() method

print(lstOfMixedDataTypes)

print(len(lstOfMixedDataTypes))

[55.4, 'Bill', 232, 14.4, [12, 7.6, 30, 64]]
5

In [7]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

listOfNumbers = [12, 7.6, 30, 64]

lstOfMixedDataTypes.extend(listOfNumbers)                 # Using the extend() method

print(lstOfMixedDataTypes)

print(len(lstOfMixedDataTypes))

[55.4, 'Bill', 232, 14.4, 12, 7.6, 30, 64]
8

In [8]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

#del lstOfMixedDataTypes[2]                     # Using del keyword - index
#del lstOfMixedDataTypes[1:3]                  # Using del keyword
print(lstOfMixedDataTypes)


itemDeleted = lstOfMixedDataTypes.pop(1)        # Using pop function - index
print(itemDeleted)

print(lstOfMixedDataTypes)

[55.4, 'Bill', 232, 14.4]
Bill
[55.4, 232, 14.4]

In [9]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]


lstOfMixedDataTypes.remove(232)                 # Using remove function - value

print(lstOfMixedDataTypes)

[55.4, 'Bill', 14.4]

In [10]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

if 'Bill' in lstOfMixedDataTypes:
    print('Found in list')
    
if 131 not in lstOfMixedDataTypes:
    print('Not in the list')

Found in list
Not in the list

In [11]:
lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]

print(lstOfMixedDataTypes)

lstOfMixedDataTypes.reverse()

print(lstOfMixedDataTypes)

[55.4, 'Bill', 232, 14.4]
[14.4, 232, 'Bill', 55.4]

In [12]:
myList = [29, 12, 4, 7, 12]

sorted_list = sorted(myList)
#lstOfMixedDataTypes = [55.4, 'Bill', 232, 14.4]          # Sort only compatible types
#sorted_lst = sorted(lstOfMixedDataTypes)

print(sorted_list)

print(myList)                          # Original list is unchanged

[4, 7, 12, 12, 29]
[29, 12, 4, 7, 12]

In [13]:
print("Reverse sorted list :", sorted(myList, reverse=True))  # Reverse sort a list

print(myList)

Reverse sorted list : [29, 12, 12, 7, 4]
[29, 12, 4, 7, 12]

In [14]:
myList = [29, 12, 4, 7, 12]                       # Reverse and change the original list
myList.sort()

print(myList)

[4, 7, 12, 12, 29]

In [17]:
myList = [1, 2, 3, 4, 5]
newRef = myList
newRef.append(6)

print('Original list: ', myList)
print('Reference list: ', newRef)

Original list:  [1, 2, 3, 4, 5, 6]
Reference list:  [1, 2, 3, 4, 5, 6]

In [18]:
myString = "apple,banana,grapes"
splitList = myString.split(',')
print(splitList)

['apple', 'banana', 'grapes']

In [19]:
myString = "Let us split this string"
splitList = myString.split()                   # By default split is on - space or tab
print(splitList)

['Let', 'us', 'split', 'this', 'string']

In [21]:
myList = [29, 12, 4, 7, 12]

print(myList[0])                       # Access the first element from start

print(myList[-2])                      # Access the elements from the last

29
7

In [22]:
listOfItems = [43, 2, 'Hundred', 13, 'Four',12 ,100]

print(listOfItems[:])                                # Empty indicates from start : to end

print(listOfItems[0:3])                              # Elements from index 0 to one index less than index 3

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[43, 2, 'Hundred']

In [23]:
print (listOfItems)

print(listOfItems[::2])                                  # Stride for skipping elements

print(listOfItems[2::2])                                 # print elemnts start from 0 through rest of the list

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[43, 'Hundred', 'Four', 100]
['Hundred', 'Four', 100]

In [24]:
listOfItems1 = [43, 2, 'Hundred', 13, 'Four',12 ,100]
listOfItems2 = ['Hello', 19, 'One', 11]
joinedList = listOfItems1 + listOfItems2 

print(joinedList)

[43, 2, 'Hundred', 13, 'Four', 12, 100, 'Hello', 19, 'One', 11]

In [25]:
listOfItems3 = [12, 43, 2, 'Hundred', 13, 'Four',12 ,100]

print(listOfItems3.count(12))                           # Count number of 12 in the list

print(listOfItems3.count('Hundred'))                    # Count number of 'Hundred' in a list

2
1

In [26]:
listOfItems3 = [12, 43, 2, 'Hundred', 13, 'Four',12 ,100]

for element in listOfItems3:
    print(element)

12
43
2
Hundred
13
Four
12
100

In [27]:
myList = []               # Normal way to create an empty List

for i in range(4): # Append the squared element to the list
    myList.append(i**2)
print(myList)

[0, 1, 4, 9]

In [28]:
# Simlify using list comprehension
myList = [i**2 for i in range(4)]
print(myList)

[0, 1, 4, 9]

In [29]:
matrix = [[0, 1, 2],
          [0, 1, 2],
          [0, 1, 2],
          [0, 1, 2]]

sameList = []                         # Recreate the above matrix in the normal way
for i in range(4):
    rowList = []
    for j in range(3):
        rowList.append(j)
    sameList.append(rowList)
print(sameList)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [30]:
myMatrix = []
[myMatrix.append([j for j in range(3)]) for i in range(4)]       # Reconstruct the matrix using list comprehension
print(myMatrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [31]:
myList = [1, 2, 3, 4, 5, 6, 8]

newList = [i**2 for i in myList]                                    # Square the values of myList and store in a new list
print(newList)

newList = [(i,i) for i in myList]                                   # Make a combination of x and x values e.g. (x,x)
print(newList)

newList = [even for even in myList if even%2 == 0 and even != 2]     # Store only the even numbers greater than 2
print(newList)

newList = []
[newList.append([(i+j)/2 for j in range(0,3)]) for i in range(1,10,3)]    # Create a 3*3 matrix that stores half of number from 1 to 9

print(newList)

[1, 4, 9, 16, 25, 36, 64]
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (8, 8)]
[4, 6, 8]
[[0.5, 1.0, 1.5], [2.0, 2.5, 3.0], [3.5, 4.0, 4.5]]

In [33]:
emptyTuple = ()                      # Create an empty tuple

myNumberTuple = (12.2, 100, 12)      # Create a tuple having numbers
print(myNumberTuple)

myMixedTuple = ('x', 'y', 100, 'h')  # Create a mixed data types tuple
print(myMixedTuple)

myNestedTuple = ('Hello', 100, ('Welcome', 12, 11), [90,'same',26,'array'])     # Create a nested tuple
print(myNestedTuple)

(12.2, 100, 12)
('x', 'y', 100, 'h')
('Hello', 100, ('Welcome', 12, 11), [90, 'same', 26, 'array'])

In [34]:
isItTuple = ('Suchit')               # Only parenthesis is not enough
print(type(isItTuple))

<class 'str'>

In [35]:
isItTuple = ('Suchit',)              # Put a comma at the end to denote Tuple
print(type(isItTuple))

<class 'tuple'>

In [36]:
myTuple = ('Suchit', 'Rakesh', 'Roshni', 'Shireen')

print(myTuple[3])

Shireen

In [37]:
print(myTuple[-1])                            # Printing the last element in a tuple - Negative index

Shireen

In [38]:
myTuple = ('Suchit', ('Rakesh', 'Roshni', 'Shireen'))       # Nested tuple

print(myTuple[1])

('Rakesh', 'Roshni', 'Shireen')

In [39]:
print(myTuple[1][2])

Shireen

In [40]:
myTuple = (10,11,12,13,14,15)

print(myTuple[2:5])                           # Slicing elements

print(myTuple[-3:])                           # Print elements from starting to 3rd last elements

print(myTuple[:])                             # Print all elements

(12, 13, 14)
(13, 14, 15)
(10, 11, 12, 13, 14, 15)

In [41]:
myTuple = (11, 22, 33, 44, [55, 66, 77])                       # Creating tuple

myTuple[1] = 4                                           # Error: TypeError

TypeError: 'tuple' object does not support item assignment

In [42]:
print(id(myTuple))
myTuple[4][2] = 'Suchit'                       # List is mutable hence value can be altered
print(id(myTuple))
print(myTuple)

2359050415376
2359050415376
(11, 22, 33, 44, [55, 66, 'Suchit'])

In [43]:
#concatinating tuples

myTuple = (11, 22, 33) + (44, 55, 66)
print(myTuple)

(11, 22, 33, 44, 55, 66)

In [44]:
myTuple = (('Suchit', ) * 4)                     # Repeat items using * operator.
print(myTuple)

('Suchit', 'Suchit', 'Suchit', 'Suchit')

In [45]:
# Since tuple is immutable hence the entire tuple needs to be deleted using del keyword

myTuple = (3, 'Suchit', 45, 11, 'tree', 34)

del myTuple                                      # Delete the entire tuple

In [46]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

myTuple.count('Suchit')     # Frequency of particular element in a tuple

2

In [47]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

print(myTuple.index(11))                  # Returns index of the first element equal to 11

print(myTuple[6])                         # Print element at index 6

6
11

In [48]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)

print(244 in myTuple)                                              # Check if an item exists in a tuple

True

In [49]:
print('Sam' in myTuple)

False

In [50]:
myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)
print(len(myTuple))

8

In [51]:
#myTuple = ('Suchit', 244, 'Suchit', 412, 'tree', 28, 11, 2)
myTuple = (12,3,44,245,0.2,33)
print(myTuple)

sortedTuple = sorted(myTuple)                       # Returns a new sorted list. Does not change original tuple
print(sortedTuple)

(12, 3, 44, 245, 0.2, 33)
[0.2, 3, 12, 33, 44, 245]

In [52]:
myNumberTuple = (12,3,44,245,0.2,33)

print(max(myNumberTuple))                           # Largest element in a tuple

print(min(myNumberTuple))                           # Smallest element in a tuple

245
0.2

In [53]:
print(sum(myNumberTuple))                           # Sum of elments in the tuple

337.2

In [54]:
mySet = {1,2,3}                          # Curly braces and comma seperated values 
print(mySet)
 
print(type(mySet))                         # type of mySet

{1, 2, 3}
<class 'set'>

In [55]:
mySet = {1,2,3,1,4}                    # Duplicates not allowed.
print(mySet)

{1, 2, 3, 4}

In [56]:
mySet = set([1,2,3,4,1])                  # We can make set from a list using set() method
print(mySet)

{1, 2, 3, 4}

In [57]:
mySet = set()                              # Initialize a set  with set() method
print(type(mySet))

<class 'set'>

In [60]:
mySet = {'a', 56}

mySet.add(5)                           # Add single element using add() method
print(mySet)

mySet.update([2,'r',12])             # Add multiple elements using update() method
print(mySet)

print(mySet[3])                        # set object doesn't support duplicates hence indexing doesn't make sense

{56, 5, 'a'}
{2, 5, 'a', 12, 56, 'r'}

TypeError: 'set' object is not subscriptable

In [61]:
mySet.update([12,'One'],{4,1,5})     # Adding a list and a set to the original set
print(mySet)

{1, 2, 4, 5, 'a', 12, 'One', 56, 'r'}

In [77]:
mySet = {11, 12, 13, 14, 15}
print(mySet)

mySet.remove(13)                   # 13 is removed from set mySet
print(mySet)


mySet.discard(14)                    # 14 is removed from set mySet
print(mySet)

{11, 12, 13, 14, 15}
{11, 12, 14, 15}
{11, 12, 15}

In [78]:
mySet.remove(35)                        # KeyError thrown
print(mySet)

KeyError: 35

In [79]:
mySet.discard(35)                       # KeyError NOT thrown
print(mySet)

{11, 12, 15}

In [80]:
mySet = {'abc', 12, 'efg', 1, 11}

mySet.pop()                             # Removes a random element

print(mySet)

{11, 12, 'efg', 'abc'}

In [81]:
mySet = {'abc', 12, 'efg', 1, 11}

mySet.clear()                           # Empty all items in

print(mySet)

set()

In [82]:
mySet1 = {1, 2, 3, 4, 5}
mySet2 = {3, 4, 5, 6, 7}

print(mySet1 | mySet2)              # union of 2 sets using | operator

print(mySet1.union(mySet2))         # Alternately use union() method

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [83]:
print(mySet1 & mySet2)              # Intersection of 2 sets using & operator

print(mySet1.intersection(mySet2))  # Alternately use intersection() method

{3, 4, 5}
{3, 4, 5}

In [84]:
print(mySet1 - mySet2)              # set Difference: set of elements that are only in mySet1 but not in mySet2
print(mySet1.difference(mySet2))    # use differnce() function method

{1, 2}
{1, 2}

In [85]:
print(mySet2 - mySet1)
print(mySet2.difference(mySet1))

{6, 7}
{6, 7}

In [86]:
# symmetric difference: set of elements in both mySet1 and mySet2
# except those that are common in both."""

print(mySet1^mySet2)                       # For symmetric difference use ^ operator

print(mySet1.symmetric_difference(mySet2)) # Alternately use symmetric_difference function

{1, 2, 6, 7}
{1, 2, 6, 7}

In [87]:
a = {1,2,3,4,5,6}
b = {2,4}

print("Is set 'a' a subset of set 'b' ? ", a.issubset(b))          # Check a is subset of b

print("Is set 'b' a subset of set 'a' ? ", b.issubset(a))          # Check b is subset of a

Is set 'a' a subset of set 'b' ?  False
Is set 'b' a subset of set 'a' ?  True

In [88]:
mySet1 = frozenset([1, 2, 3, 4, 5])
mySet2 = frozenset([4, 5, 6, 7, 8])

mySet1.add(9)                              # Cannot add value to immutable set

AttributeError: 'frozenset' object has no attribute 'add'

In [89]:
print(mySet1[4])                           # frozen set doesn't support indexing

TypeError: 'frozenset' object is not subscriptable

In [90]:
print(mySet1 | mySet2)                    # union of 2 sets

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [91]:
print(mySet1 & mySet2)                    # intersection of two sets

print(mySet1.intersection(mySet2))        # Alernative is to use intersection() method

frozenset({4, 5})
frozenset({4, 5})

In [92]:
print(mySet1 ^ mySet2)                        # symmetric difference

print(mySet1.symmetric_difference(mySet2))    # Alternative is symmetric_difference() method

frozenset({1, 2, 3, 6, 7, 8})
frozenset({1, 2, 3, 6, 7, 8})

In [93]:
myDict = {}                                                  # Create an empty dictionary

myIntegerKeyDict = {100:'excellent',50:'fair'}
print(myIntegerKeyDict)
 
myMixedKeysDict = {'name':'Suchit', 10:['sun','star']}    # Create a dictionary with mixed keys
print(myMixedKeysDict)


myDict = dict()                                              # Create an empty dictionary using dict() method

myDict = dict([(4,'abcd'),(2,'ab')])                      # Create a dict with list of tuples
print(myDict)

{100: 'excellent', 50: 'fair'}
{'name': 'Suchit', 10: ['sun', 'star']}
{4: 'abcd', 2: 'ab'}

In [94]:
myDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

print(myDict['name'])                               # Pass the key to get the value

Suchit

In [95]:
print(myDict['score'])                             # Gives KeyError if key not found

KeyError: 'score'

In [96]:
print(myDict.get('hobby'))                          # Alternately use get(key) to access the value

guitar

In [97]:
print(myDict.get('score'))                         # Gives None using get method if key not present

None

In [98]:
myDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

myDict['name'] = 'Rakesh'                                      # Update the value in the key 'name' 
 
print(myDict)

{'name': 'Rakesh', 'marks': 92, 'hobby': 'guitar'}

In [99]:
myDict['division'] = 'A'                                       # Add new key-value pair

print(myDict)

{'name': 'Rakesh', 'marks': 92, 'hobby': 'guitar', 'division': 'A'}

In [100]:
myDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

print(myDict.pop('marks'))                                     # Remove a particular item - pass the key to pop() method

print(myDict)

92
{'name': 'Suchit', 'hobby': 'guitar'}

In [101]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

del keyValDict['marks']                               # Delete particular key

print(keyValDict)

{'name': 'Suchit', 'hobby': 'guitar'}

In [102]:
keyValDict.clear()                              # Remove all items

print(keyValDict)

{}

In [103]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

del keyValDict                                  # Delete dictionary itself

print(keyValDict)                               # NameError because dict is deleted

NameError: name 'keyValDict' is not defined

In [104]:
keyValDict = {'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

myDict = keyValDict.copy()                                    # copy()
print(myDict)

{'name': 'Suchit', 'marks': 92, 'hobby': 'guitar'}

In [105]:
# fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
fruits = {}.fromkeys(['apple','banana','grapes'],0)
print(fruits)

{'apple': 0, 'banana': 0, 'grapes': 0}

In [106]:
varDict = {2:4, 3:9, 4:16, 5:25}
print(varDict.items()) #return a new view of the dictionary items (key, value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [107]:
fruits = {'apple': 2, 'banana': 12, 'grapes': 10}

print(fruits.keys())                                      # returns the dictionary keys

print(fruits.values())                                    # returns the dictionary values

dict_keys(['apple', 'banana', 'grapes'])
dict_values([2, 12, 10])

In [108]:
dict = {}
print(dir(dict))                                          # Get list of all available methods and attributes of dictionary

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [109]:
fruits = {'apple': 2, 'banana': 12, 'grapes': 10}
for fruit in fruits.items():                       # Same as list comprehensions but here its for dictionaries
    print(fruit)

('apple', 2)
('banana', 12)
('grapes', 10)

In [110]:
fruits = {'apple': 3, 'banana': 12, 'grapes': 10}
fruitsDict = {k:v for k, v in fruits.items() if v%2 == 0}    # Creating a new dictionary with only pairs where the value is even
print(fruitsDict)

{'banana': 12, 'grapes': 10}

In [111]:
fruits = {'apple': 3, 'banana': 12, 'grapes': 10} 

fruitsDict = {k + '_royal':v * 12 for k, v in fruits.items() if v%2 == 0} # We can also perform operations on the key value pairs
print(fruitsDict)
print(fruits)

{'banana_royal': 144, 'grapes_royal': 120}
{'apple': 3, 'banana': 12, 'grapes': 10}

In [112]:
myString = 'Single'
print(myString)

myString = "Double"
print(myString)

myString = '''Triple'''
print(myString)

Single
Double
Triple

In [113]:
myString = "Double"

print(myString[0])             # Print first Character

print(myString[1:4])           # Slicing 2nd to 4th character

print(myString[-2])            # Print last character using negative indexing

D
oub
l

In [114]:
print(myString[15])                    # Index should be in available range

IndexError: string index out of range

In [115]:
print(myString[1.5])                   # Index should be integer always

TypeError: string indices must be integers

In [116]:
myString = "Double"

myString[0] = 't' # strings are immutable

TypeError: 'str' object does not support item assignment

In [117]:
del myString # delete complete string

In [118]:
print(myString)

NameError: name 'myString' is not defined

In [119]:
myString1 = "Python "
myString2 = "Programming"

print(myString1 + myString2)        # Concatenation of 2 strings  

print(myString1 * 2)                # Repeat string n times

Python Programming
Python Python

In [120]:
charCount = 0
for character in "Python Programming":             # Iterating Through String
    if character == 'P':
        charCount += 1
print('Character count of P is ', charCount)

Character count of P is  2

In [121]:
print('m' in 'Python Programming')                  # in operator to test membership

True

In [122]:
print('ro' in 'Python Programming')

True

In [123]:
"Python".lower()                                                      # lower

'python'

In [124]:
"Python".upper()                                                      # upper

'PYTHON'

In [125]:
"Split this line into a list".split()                                 # split

['Split', 'this', 'line', 'into', 'a', 'list']

In [126]:
' '.join(['Split', 'this', 'line', 'into', 'a', 'list'])              # join

'Split this line into a list'

In [127]:
myString1 = "Python Programming"

myString2 = myString1.replace('Programming','Program')                # Replace a word

print(myString1)
print(myString2)

Python Programming
Python Program

In [132]:
#Excercise 1: Reverse a word

originalWord = 'abhishek'
reversedWord = ''
for character in originalWord:
    reversedWord = character + reversedWord
print(reversedWord)

#Excercise 2: Check if word is a palindrome?

originalWord = originalWord.lower()
reversedWord = reversedWord.lower()

if originalWord == reversedWord:
    print("Given string is a palindrome")
else:
    print("Given string is NOT a palindrome")
    
#Excercise 3: Sort sentences in Reverse alphabetic Order?

myString = "This is a how reverse sorting works" 

words = myString.split()                         # Breakdown the string into list of words

words.sort(reverse=True)                         # Reverse sort the list


revString = ''                              # Concate the words into a sentence
for word in words:
    revString += word + ' '
print(revString)

kehsihba
Given string is NOT a palindrome
works sorting reverse is how a This