In [1]:
intergerNumber = 4
decimalNumber = 22.2
stringVariable = "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [2]:
intergerNumber, decimalNumber, stringVariable = 4, 22.2, "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [3]:
variable1=variable2=variable3 = " All variable assigned same value "
print(variable1,variable2,variable3)

 All variable assigned same value   All variable assigned same value   All variable assigned same value

In [4]:
print(id(intergerNumber))               #print address of variable: 'intergerNumber'

140728440792976

In [5]:
print(id(decimalNumber))               #print address of variable: 'decimalNumber'

2991220754160

In [6]:
interger1 = 10
interger2 = 10

print(id(interger1))   
print(id(interger2))

140728440793168
140728440793168

In [7]:
data1 = 12                               # integer data type
print(data1, " is of type", type(data1))

12  is of type <class 'int'>

In [8]:
data2 = 12.5                            # float data type
print(data2, " is of type", type(data2))

12.5  is of type <class 'float'>

In [9]:
data3 = 100 + 20j                          #data type is changed to complex number
print(data3, " is complex number?", isinstance(data3, complex))

(100+20j)  is complex number? True

In [10]:
booleanVariable = True                          # 'booleanVariable' is a boolean type & True is a keyword
print(type(booleanVariable))

<class 'bool'>

In [11]:
stringVariable = "This is a string variable"
print('stringVariable is : ',stringVariable)
print('First character in stringVariable is : ',stringVariable[0])

stringVariable is :  This is a string variable
First character in stringVariable is :  T

In [12]:
# Slicing of String variable
print(stringVariable[0:7])
print(stringVariable[:7])
print(stringVariable[5:])

This is
This is
is a string variable

In [13]:
myList = [1, 2.2, "ThirdElement",12,24,"More values"]
print(myList)

[1, 2.2, 'ThirdElement', 12, 24, 'More values']

In [14]:
print(myList[2])                     # Print an element based on its index. Index starts from 0

ThirdElement

In [15]:
myList[2] = "ElementThree"
print(myList)

[1, 2.2, 'ElementThree', 12, 24, 'More values']

In [16]:
myList.remove(2.2)                             # Remove item from a particular index
print(myList)

[1, 'ElementThree', 12, 24, 'More values']

In [17]:
myList.pop(2)                                 # Remove item from a particular index
print(myList)

[1, 'ElementThree', 24, 'More values']

In [18]:
myList.append(2.2)                            # Add item at the last index
print(myList)

[1, 'ElementThree', 24, 'More values', 2.2]

In [19]:
myTuple = (10,20,30,"Text")

In [20]:
print(myTuple[2])

30

In [21]:
myTuple[2] = 120

TypeError: 'tuple' object does not support item assignment

In [22]:
mySet = {10, 20, 30, 40, 50}
print(mySet)

{40, 10, 50, 20, 30}

In [23]:
print(type(mySet))                 # Check the type of the variable

<class 'set'>

In [24]:
print(mySet[0])                    # Cannot print any particular element in a set because 
                                   # it's an unorder collections of items

TypeError: 'set' object is not subscriptable

In [25]:
myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3",}
print(myDictionary['key2'])

value2

In [26]:
myDictionary['key2'] = "value2.2"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

In [27]:
myDictionary["key4"] = "value4"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3', 'key4': 'value4'}

In [28]:
del myDictionary["key2"]
print(myDictionary)

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

In [29]:
int(5.5)

5

In [30]:
float(5)

5.0

In [31]:
str(5)

'5'

In [32]:
str(5.5)

'5.5'

In [33]:
int('5')

5

In [34]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [35]:
float('5.5')

5.5

In [36]:
float('5')

5.0

In [37]:
int('CharIn10')

ValueError: invalid literal for int() with base 10: 'CharIn10'

In [38]:
myNewString = 'text1 '+ 20 + ' text2'

TypeError: can only concatenate str (not "int") to str

In [39]:
myNewString = 'text1 '+ str(20) + ' text2'
print(myNewString)

text1 20 text2

In [40]:
# 1> list to set
myList1 = ['a','b','c','c']
print(myList1)
print(type(myList1))
mySet1 = set(myList1)
print(type(mySet1))
print(mySet1)

['a', 'b', 'c', 'c']
<class 'list'>
<class 'set'>
{'c', 'a', 'b'}

In [41]:
# 2> String to list
myString1 = 'This is string to list'
print(type(myString1))

strToList = list(myString1)
print(type(strToList))
print(strToList)

<class 'str'>
<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']